<!DOCTYPE html>
<html>
<title>Attack Host v1.0</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/css/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/css/atomicflask.css">
<link rel="icon" type="image/png" href="../static/images/favicon.png">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">Attack Host v. 1.0.2</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-light-grey w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
      <div class="w3-container w3-center">
          
          <p><h5><b>Attack Host</b></h5></p><p><h5><b>v. 1.0.2</b></h5></p>
      </div>
    <div class="w3-col w3-center">
      <img src="../static/images/security.png" style="width:100px">
    </div>
  </div>
  <div class="w3-container w3-center">
      <h6><i>Home Page</i></h6>
  </div>
  <div class="w3-bar-block">
   <!--<a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="http://127.0.0.1:5000/attackHost/aboutHostDefender" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-address-book fa-fw"></i>  About</a>-->
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  

<table style="align:center">
    <tr>
        <th class="w3-center">
            <h4><b>Windows Techniques</b></h4>
        </th>
        
    </tr>
    <tr>
        <td class="w3-center">
            <a href="http://127.0.0.1:5000/winCollection" class="w3-button w3-border w3-blue w3-round-large w3-hover-shadow w3-ripple" style="font-family:Arial;font-size:14pt;width:325px;height:40px;align:center;">Collection Techniques</a>
        </td>
        
    </tr>
    <tr>
        <td class="w3-center">
            <a href="http://127.0.0.1:5000/winCommand-and-control" class="w3-button w3-border w3-blue w3-round-large w3-hover-shadow w3-ripple" style="font-family:Arial;font-size:14pt;width:325px;height:40px;align:center;">Command and Control Techniques</a>
        </td>
        
    </tr>
    <tr>
        <td class="w3-center">
            <a href="http://127.0.0.1:5000/winExecution" class="w3-button w3-border w3-blue w3-round-large w3-hover-shadow w3-ripple" style="font-family:Arial;font-size:14pt;width:325px;height:40px;align:center;">Execution Techniques</a>
        </td>
        
    </tr>
    <tr>
        <td class="w3-center">
            <a href="http://127.0.0.1:5000/winCredential-access" class="w3-button w3-border w3-blue w3-round-large w3-hover-shadow w3-ripple" style="font-family:Arial;font-size:14pt;width:325px;height:40px;align:center;">Credential Access Techniques</a>
        </td>
       
    </tr>
    <tr>
        <td class="w3-center">
            <a href="http://127.0.0.1:5000/winDefense-Evasion" class="w3-button w3-border w3-blue w3-round-large w3-hover-shadow w3-ripple" style="font-family:Arial;font-size:14pt;width:325px;height:40px;align:center;">Defense Evasion Techniques</a>
        </td>
       
    </tr>
    <tr>
        <td class="w3-center">
            <a href="http://127.0.0.1:5000/winDiscovery" class="w3-button w3-border w3-blue w3-round-large w3-hover-shadow w3-ripple" style="font-family:Arial;font-size:14pt;width:325px;height:40px;align:center;">Discovery Techniques</a>

        </td>
    </tr>
    <tr>
        <td class="w3-center">
            <a href="http://127.0.0.1:5000/winImpact" class="w3-button w3-border w3-blue w3-round-large w3-hover-shadow w3-ripple" style="font-family:Arial;font-size:14pt;width:325px;height:40px;align:center;">Impact Techniques</a>

        </td>
      
    </tr>
    <tr>
        <td class="w3-center">
            <a href="http://127.0.0.1:5000/winInitial-access" class="w3-button w3-border w3-blue w3-round-large w3-hover-shadow w3-ripple" style="font-family:Arial;font-size:14pt;width:325px;height:40px;align:center;">Initial-Access Techniques</a>

        </td>
      
    </tr>

    <!--<tr>
        <td class="w3-center">
            <input class="w3-button w3-border w3-blue w3-round-large w3-hover-shadow w3-ripple" style="font-family:Arial;font-size:14pt;width:325px;height:40px;align:center;" disabled value="Persistence">

        </td>
       

    </tr>
    <tr>
        <td class="w3-center">
            <input class="w3-button w3-border w3-blue w3-round-large w3-hover-shadow w3-ripple" style="font-family:Arial;font-size:14pt;width:325px;height:40px;align:center;" disabled value="Escalation">

        </td>
       
    </tr>
    <tr>
        <td class="w3-center">
            <input class="w3-button w3-border w3-blue w3-round-large w3-hover-shadow w3-ripple" style="font-family:Arial;font-size:14pt;width:325px;height:40px;align:center;" disabled value="Reconnaissance">

        </td>
      
    </tr>
    <tr>
        <td class="w3-center">
            <input class="w3-button w3-border w3-blue w3-round-large w3-hover-shadow w3-ripple" style="font-family:Arial;font-size:14pt;width:325px;height:40px;align:center;" disabled value="Resource Development">

        </td>
     
    </tr>
</table>
-->

<table style="align:center">
    <tr>
        <th class="w3-center">
            <h4><b>EVTX Conversions</b></h4>
        </th>

    </tr>
    <tr>
        <td class="w3-center">
            <a href="http://127.0.0.1:5000/run/evtx/1" class="w3-button w3-border w3-blue w3-round-large w3-hover-shadow w3-ripple" style="font-family:Arial;font-size:14pt;width:325px;height:40px;align:center;">EVTX 2 JSON</a>
        </td>

    </tr>
    <tr>
        <th class="w3-center">
            <h4><b>User Simulator Dashboard</b></h4>
        </th>

    </tr>
    <tr>
        <td class="w3-center">
            <a href="http://127.0.0.1:5000/run/usersimulator" class="w3-button w3-border w3-blue w3-round-large w3-hover-shadow w3-ripple" style="font-family:Arial;font-size:14pt;width:325px;height:40px;align:center;">User Simulator</a>
        </td>

    </tr>
    <tr>
        <th class="w3-center">
            <h4><b>Documentation</b></h4>
        </th>

    </tr>
    <tr>
        <td class="w3-center">
            <a href="http://127.0.0.1:5000/docs/AttackHost_Manual.pdf" class="w3-button w3-border w3-blue w3-round-large w3-hover-shadow w3-ripple" style="font-family:Arial;font-size:14pt;width:325px;height:40px;align:center;" download>AttackHost Documentation</a>
        </td>

    </tr>

</table>






    <hr />


    </div>

  <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4>FOOTER</h4>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>