<!DOCTYPE html>
<html>
<title>AttackHost - Windows Defense Evasion Techniques</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/css/atomicflask.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<script>
    $(function () {
        $("#accordion").accordion({
            collapsible: true,
            heightStyle: "content"


        });
    });
    $(function () {
        $(document).tooltip();
    });
</script>

<style>
    html, body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif
    }
</style>
<body class="w3-light-grey">

    <!-- Top container -->
    <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
        <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
        <span class="w3-bar-item w3-right">Attack Host v. 1.0.2</span>
    </div>
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar">
        <br>
        <div class="w3-container w3-row">
            <div class="w3-container w3-center">
                <p><h5><b>Attack Host</b></h5></p><p><h5><b> v. 1.0.2</b></h5></p>
            </div>
            <div class="w3-col w3-center">
                <img src="../static/images/security.png" style="width:100px">
            </div>
        </div>
        <div class="w3-container w3-center">
            <h6><b><i>Windows Techniques</i></b></h6>
        </div>
        <div class="w3-container w3-center">
            <h6><i>Run Attacks from Defense Evasion Category</i></h6>
        </div>
       
    </nav>


    <div class="w3-main" style="margin-left:350px;margin-top:43px;">


        <p><h4><b>Select a Technique, then select an attack. 
            It is advised to run all attacks as Administrator</b></h4></p>
        <!--   ###########################################################################################################################################################################################################################################-->
        <div id="accordion">
            <!--   ###########################################################################################################################################################################################################################################-->
            <h3 class="w3-panel w3-dark-grey" style="font-family:Arial;font-size:12pt;font-weight:bold;align:center;">T1548.002 Bypass User Account Controls</h3>
            <div>
                <table style="align: center;">
                    <!--<tr>
                        <td style="width:30%;align:center;">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1548_002_1/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1548.002 #1</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>-->
                    <tr>
                        <td style="width:30%;align:center;">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1548_002_3/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1548.002 #3</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%;align:center;">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1548_002_6/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1548.002 #6</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%;align:center;">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1548_002_8/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1548.002 #8</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                </table>
            </div>
            <!--   ###########################################################################################################################################################################################################################################-->
            <h3 class="w3-panel w3-dark-grey" style="font-family:Arial;font-size:12pt;font-weight:bold;">T1007 System Service Discovery</h3>
            <div>
                <table style="align: center;">
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1007_2/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1007 #2</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                </table>
            </div>
            <!--   ###########################################################################################################################################################################################################################################-->
            <!--<h3 class="w3-panel w3-dark-grey" style="font-family:Arial;font-size:12pt;font-weight:bold;">T1027 Obfuscated Files or Information</h3>
            <div>
                <table style="align: center;">
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1027_4/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1027 #2</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                </table>
            </div>-->

            <!--   ###########################################################################################################################################################################################################################################-->

            <h3 class="w3-panel w3-dark-grey" style="font-family:Arial;font-size:12pt;font-weight:bold;">T1112 Modify Registry</h3>
            <div>
                <table style="align: center;">
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_1/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #1</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_2/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #2</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_3/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #3</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_7/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #7</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_11/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #11</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_12/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #12</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_13/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #13</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_14/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #14</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_15/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #15</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_16/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #16</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_17/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #17</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_18/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #18</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_19/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #19</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_20/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #20</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_21/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #21</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_22/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #22</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_23/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #23</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_24/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #24</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_25/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #25</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_26/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #26</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_27/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #27</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_28/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #28</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_29/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #29</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_30/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #30</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_31/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #31</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_32/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #32</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_33/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #33</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%">
                            <a href="http://127.0.0.1:5000/run/defense-evasion/T1112_34/1/0/W" class="w3-button w3-round-large w3-hover-shadow w3-ripple w3-green w3-margin" style="font-family:Arial;font-size:14pt;width:165px;height:40px;align:center;" value="">T1112 #34</a>
                        </td>
                        <td style="width:70%">
                        </td>
                    </tr>




                </table>
            </div>
                    
           




        </div>

    </div>

              

        <script>
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }
        </script>
    </div>
</body>
</html>
